@model List<TasksCRUD.Models.Tarefa>

@{
    ViewData["Title"] = "Tarefas";
}

<style>
    table.table-bordered th {
        text-align: center;
        vertical-align: middle;
    }
</style>

<h2>Lista de Tarefas</h2>

@if (Model.Count == 0)
{
    <p>Não há tarefas cadastradas.</p>
}
else
{
    <ul>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Data de Vencimento</th>
                    <th>Status</th>
                    <th>Situação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    bool dentroDoPrazo = item.DataVencimento >= DateTime.Now.Date;
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Titulo</td>
                        <td>@item.Descricao</td>
                        <td>@item.DataVencimento.ToString("dd/MM/yyyy")</td>
                        <td>@item.Status</td>
                        <td>
                            @if (item.Status == StatusTarefa.Finalizada)
                            {
                                <span></span>
                            }

                            else if (dentroDoPrazo)
                            {
                                <button class="btn btn-success">No Prazo</button>
                            }
                            else
                            {
                                <button class="btn btn-danger">Vencida</button>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Atualizar</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Apagar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-end mt-3">
            <a asp-action="Create" class="btn btn-primary">Criar Nova Tarefa</a>
        </div>
    </ul>
}
